apiVersion: v1
kind: Service
metadata:
  name: frontend-service
spec:
  selector:
    app: frontend
  ports:
    - protocol: TCP
      port: 3001       # Service port (external)
      targetPort: 4173 # Container port
  type: ClusterIP
